.left-nav {
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    color: #454545;

    .desastre-list {
        height: calc(100vh - 208px);
    }
}

.left-desastre {
    padding: 10px 20px;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #F2F2F2;
        cursor: pointer;
    }

    .icon {
        margin-right: 10px;
    }
}

@media screen and (max-width: 991px) {
    .left-nav {
        display: none;
    }
}